<div id="note-single">
	<h3>Note Single</h3>
	<p>Note Title: {{ $note->title }}</p>
	<p>Note Body: {{ $note->body }}</p>
	<h4>Custom Field Data</h4>
	{{ loop($note->fields as $name => $value) }}
		{{ if(is_array($value)) }}
			{{ loop($value as $v) }}
				{{ $v }}<br>
			{{ endloop }}
		{{ else }}
			<p>{{ $name }}: {{ $value }}</p>
		{{ endif }}
	{{ endloop }}

	With Field->lists()
	{{ $note->fields->lists(array('style' => 'list-style: circle')) }}

	With Field->table()
	{{ $note->fields->table() }}
</div>
